.App {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  max-width: 100%;
  overflow-x: auto;
}

.App-link {
  color: #61dafb;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.d-flex {
  display: flex;
  /*flex-wrap: wrap;*/
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-around {
  align-items: space-around;
}

.align-items-between {
  align-items: space-between;
}

.align-self-heading {
  align-self: flex-start;
}

.img-class {
  width: 200px;
  height: 200px;
}

.detail-img-class {
  width: 500px;
  height: auto;
}

.ul-class {
  list-style: none;
}

.detail-ul-class {
  list-style: none;
  overflow: hidden;
  overflow-x: auto;
  margin: 0 5%;
  padding-left: 0;
}

.li-class {
  margin: 1rem;
}

.pagination-links-div {
  width: 100%;
  padding: 2rem;
}

.activePage {
  background: red;
  color: white;
  border-radius: 50%;
}

/* Custom css scrollbar */

.ul-class-scrollbar::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.1);
  background-color: rgba(255, 0, 0, 0.25);
}

.ul-class-scrollbar::-webkit-scrollbar
{
  width: 3px;
  height: 5px;
  border-radius: 5px;
  background-color: #F5F5F5;
}

.ul-class-scrollbar::-webkit-scrollbar-thumb
{
  background-color: #000000;
}

.cursor-pointer {
  cursor: pointer;
}

.font-size-2rem {
  font-size: 2rem;
}